


<footer class="container py-5">

  <div class="card" style="width: 80%;">
    <div class="card-body text-bg-info p-3">
      <h5 class="card-title">110-111 年度「高教深耕國際競合發展計畫」子計畫 </h5>
      <h5 class="card-title text-end"> 國立政治大學外國語文學院「跨語種教師社群」計畫</h5>
      <h6 class="card-subtitle mb-2 text-muted">計畫名稱：空殼名詞於跨語言之研究社群</h6>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <p class="lead"></p> <p class="lead"></p>

  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-muted">&copy; 2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Research</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Shell Nouns</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Department</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://english.nccu.edu.tw/eng/PageFront">English</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Links</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://sites.google.com/site/siawfongchung/">Prof. Siaw-Fong Chung</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="https://github.com/NCCU-Eng/Shell-Nouns-Study/issues/new">Questions</a></li>
      </ul>
    </div>
  </div>
</footer>

<p class="lead"></p>

<div class="d-md-flex flex-md-equal w-95 my-md-1 ps-md-1">
  <div class="bg-light me-md-3 pt-3 px-3 pt-md-1 px-md-1 text-center overflow-hidden">
    <div>
      <div style="height: 200px;">
          <div class="h-25 d-inline-block">
              <img class="img-fluid" src="https://raw.githubusercontent.com/NCCU-Eng/Shell-Nouns-Study/main/assets/imgs/btn_banner.jpg" />
          </div>
      </div>
    </div>
  </div>
</div>

