


<footer class="container py-5">



  <p class="lead"></p> <p class="lead"></p>

  <div class="row">
    <div class="col-4 col-md">
      <h5>Department</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="https://english.nccu.edu.tw/eng/PageFront">English</a></li>
      </ul>
    </div>
    <div class="col-2 col-md">
      <div class="card">
        <div class="card-body text-bg-info p-3">
          <h5 class="card-title">110-111 年度「高教深耕國際競合發展計畫」子計畫 </h5>
          <h5 class="card-title text-end"> 國立政治大學外國語文學院「跨語種教師社群」計畫</h5>
          <h6 class="card-subtitle mb-2 text-muted">計畫名稱：空殼名詞於跨語言之研究社群</h6>
          成員｜members
          <ul class="list-group list-group-flush">
            <li class="list-group-item">團隊召集人 <a href="https://sites.google.com/site/siawfongchung/" target="_blank">鍾曉芳</a> 英國語文學系 教授（召集人）</li>
            <li class="list-group-item">團隊成員 <a href="https://slavic.nccu.edu.tw/PageStaffing/Detail?fid=3035&id=633" target="_blank">林蒔慧</a> 斯拉夫語文學系 教授</li>
            <li class="list-group-item">團隊成員 <a href="https://japanese.nccu.edu.tw/PageStaffing/Detail?fid=2321&id=111" target="_blank">王淑琴</a> 日本語文學系 教授</li>
            <li class="list-group-item">團隊成員 <a href="https://fychao.github.io/" target="_blank">趙逢毅</a></li>
          </ul>
    
        </div>
      </div>
      

    </div>
    <div class="col-4 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="https://github.com/NCCU-Eng/Shell-Nouns-Study/issues/new">Questions</a></li>
      </ul>
    </div>
  </div>
</footer>

<p class="lead"></p>

<div class="d-md-flex flex-md-equal w-95 my-md-1 ps-md-1">
  <div class="bg-light me-md-3 pt-3 px-3 pt-md-1 px-md-1 text-center overflow-hidden">
    <div>
      <div style="height: 200px;">
          <div class="h-25 d-inline-block">
              <img class="img-fluid" src="https://raw.githubusercontent.com/NCCU-Eng/Shell-Nouns-Study/main/assets/imgs/btn_banner.jpg" />
          </div>
      </div>
    </div>
  </div>
</div>

